Repository SeequentEvo/evo-python-sdk, pull requests merged in 2025-04, with the labels that each got.

#33 Rename service classes
  .pre-commit-config.yaml
  packages/evo-client-common/pyproject.toml
  packages/evo-client-common/src/evo/common/__init__.py
  packages/evo-client-common/src/evo/common/data.py
  packages/evo-client-common/src/evo/common/io/__init__.py
  packages/evo-client-common/src/evo/common/io/chunked_io_manager.py
  packages/evo-client-common/src/evo/common/io/exceptions.py
  packages/evo-client-common/src/evo/common/test_tools/__init__.py
  packages/evo-client-common/src/evo/common/test_tools/http.py
  packages/evo-client-common/src/evo/common/utils/retry.py
  packages/evo-client-common/src/evo/discovery/data.py
  packages/evo-client-common/src/evo/notebooks/widgets.py
  packages/evo-client-common/src/evo/oauth/data.py
  packages/evo-client-common/src/evo/workspaces/__init__.py
  packages/evo-client-common/src/evo/workspaces/client.py
  packages/evo-client-common/src/evo/workspaces/data.py
  packages/evo-client-common/tests/common/io/test_storage.py
  packages/evo-client-common/tests/discovery/test_discovery_client.py
  packages/evo-client-common/tests/oauth/test_data.py
  packages/evo-client-common/tests/workspaces/test_workspace_client.py
  packages/evo-files/pyproject.toml
  packages/evo-files/src/evo/files/client.py
  packages/evo-objects/pyproject.toml
  packages/evo-objects/src/evo/objects/__init__.py
  packages/evo-objects/src/evo/objects/data.py
  packages/evo-objects/src/evo/objects/utils/_types.py
  packages/evo-objects/src/evo/objects/utils/data.py
  packages/evo-objects/tests/test_object_service_client.py
  pyproject.toml
  scripts/audit-commits.sh
  uv.lock
Labels: semver-minor

#34 Add release workflows for each package
  .github/actions/publish/action.yaml
  .github/release.yml
  .github/workflows/compile-changelog.yaml
  .github/workflows/publish-evo-client-common.yaml
  .github/workflows/publish-evo-files.yaml
  .github/workflows/publish-evo-objects.yaml
  .github/workflows/run-all-tests.yaml
  CHANGELOG.md
  packages/evo-client-common/src/evo/oauth/data.py
Labels: ignore-for-release

#39 Add licenses to individual package readmes, add formatted headers, centralise development use instructions
  packages/evo-files/LICENSE.md
  packages/evo-files/README.md
  packages/evo-files/pyproject.toml
  packages/evo-objects/LICENSE.md
  packages/evo-objects/README.md
  packages/evo-objects/docs/quickstart.md
  packages/evo-objects/pyproject.toml
  packages/evo-sdk-common/LICENSE.md
  packages/evo-sdk-common/README.md
  packages/evo-sdk-common/docs/oauth.md
  packages/evo-sdk-common/docs/quickstart.md
  packages/evo-sdk-common/pyproject.toml
Labels: documentation

#40 Bumping the version
  packages/evo-sdk-common/pyproject.toml
Labels: evo-sdk-common

#47 Make `evo.service_manager.ServiceManager` load all workspaces
  packages/evo-sdk-common/src/evo/service_manager/manager.py
Labels: semver-patch, evo-sdk-common

#46 Update changelog and version for evo-sdk-common@v0.1.3
  CHANGELOG.md
  packages/evo-sdk-common/pyproject.toml
Labels: evo-sdk-common

#48 Fix typos
  packages/evo-files/src/evo/files/io.py
  packages/evo-objects/tests/test_object_service_client.py
  packages/evo-sdk-common/docs/examples/workspace-client.ipynb
  packages/evo-sdk-common/src/evo/common/test_tools/http.py
  packages/evo-sdk-common/tests/oauth/test_data.py
Labels: documentation, semver-patch
