Repository SeequentEvo/evo-python-sdk, pull requests merged in 2025-06, with the labels that each got.

#64 Update project links for PyPI
  packages/evo-files/pyproject.toml
Labels: documentation, evo-files

#67 Update changelog
  CHANGELOG.md
Labels: documentation, ignore-for-release

#73 Update readme links to Seequent Community
  README.md
  packages/evo-files/README.md
  packages/evo-objects/README.md
  packages/evo-sdk-common/README.md
Labels: documentation, evo-sdk-common, evo-files, evo-objects
