Repository SeequentEvo/evo-python-sdk, pull requests merged in 2025-07, with the labels that each got.

#81 Fix broken link to evo-sdk metapackage in readme
  CHANGELOG.md
  README.md
  pyproject.toml
Labels: documentation, evo-sdk

#80 Adding list workspaces summary to the evo python sdk.
  packages/evo-sdk-common/src/evo/workspaces/__init__.py
  packages/evo-sdk-common/src/evo/workspaces/client.py
  packages/evo-sdk-common/src/evo/workspaces/data.py
  packages/evo-sdk-common/src/evo/workspaces/endpoints/api/workspaces_api.py
  packages/evo-sdk-common/src/evo/workspaces/endpoints/models.py
  packages/evo-sdk-common/tests/__init__.py
  packages/evo-sdk-common/tests/common/utils/test_health_check.py
  packages/evo-sdk-common/tests/data/list_workspaces_summary.json
  packages/evo-sdk-common/tests/data/list_workspaces_summary_paginated_0.json
  packages/evo-sdk-common/tests/data/list_workspaces_summary_paginated_1.json
  packages/evo-sdk-common/tests/discovery/test_discovery_client.py
  packages/evo-sdk-common/tests/workspaces/test_workspace_client.py
Labels: semver-minor, evo-sdk-common

#84 Update default redirect URL for OAuth in notebooks so it does not refer to OIDC
  CHANGELOG.md
  packages/evo-sdk-common/docs/examples/notebook-utilities.ipynb
  packages/evo-sdk-common/docs/examples/oauth.ipynb
  packages/evo-sdk-common/docs/examples/quickstart.ipynb
  packages/evo-sdk-common/docs/examples/workspace-client.ipynb
  packages/evo-sdk-common/docs/oauth.md
  packages/evo-sdk-common/pyproject.toml
  packages/evo-sdk-common/src/evo/notebooks/_consts.py
Labels: semver-patch, evo-sdk-common
